# System Files
.DS_Store
.idea

# Dependencies
node_modules/
./**/node_modules/

# Per app
apps/*/dist/
apps/*/coverage/
apps/anchoring-ui/.next/
apps/anchoring-ui/next-env.d.ts
lib/*/dist/
lib/*/coverage/
lib/*/docs/

# Globals
coverage/
*.log
*.d.ts
*.js
*.js.map
