# System Files
.DS_Store
.idea

# Dependencies
node_modules/
./**/node_modules/

# Per app
apps/*/dist
apps/*/coverage
apps/anchoring-ui/.next
apps/anchoring-ui/next-env.d.ts
libs/*/dist
libs/*/coverage

# Globals
coverage/
